<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    {% load static %}
    <link href="{% static 'css/tlo.css' %}" rel="stylesheet" />
    <link href="{% static 'css/button.css' %}" rel="stylesheet" />

</head>
<body>
<img src="https://cdn.discordapp.com/attachments/1110236567441784923/1114477049537630270/1.png" width="70" height="70" alt="Logo">
<button type="submit" class="btn"><a href="/rejestracja">Zarejestruj się</a></button>
<button type="submit" class="btn"><a href="/logowanie">Zaloguj się</a></button>
<h1>Ćwierkacz</h1>
<h5>Jest to portal społecznościowy</h5>


</body>
</html>